@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EtkinlikYonetim</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.301/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.301/styles/kendo.silver.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.1.301/js/jquery.min.js"></script>
    <script src="~/kendoui/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.1.301/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.1.301/js/cultures/kendo.culture.tr-TR.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 1px;
            margin-left: 250px;
        }

        #header {
            transition: margin-left .5s;
            padding: 1px;
            margin-left: 250px;
        }

        #mySidenav {
            width: 250px;
        }
    </style>
</head>
<body>
    <header>
        <nav id="header" class="navbar navbar-expand-lg" style="background-color: black;">
            <div class="dropdown" style="background-color: black;">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    deneme
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/User/Hesabım">Hesabım</a></li>
                    <li><a class="dropdown-item" href="/GirisVeKayit/CikisYap">Oturumu Kapat</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="mySidenav" class="sidenav">
        @*<img src="~/cumhurbaskanligi-logo.jpg" style="height:200px; width:100%;" />*@
        <a href="#" style="font-size: 50px;">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <div id="main" class="container main">
        <span style="font-size:30px;cursor:pointer" onclick="changeNavSize()">&#9776; Open</span>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script>
        var navIsOpen = true;
        function changeNavSize() {
            if (navIsOpen) {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
                document.getElementById("header").style.marginLeft = "0";
                navIsOpen = false;
            }
            else {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
                document.getElementById("header").style.marginLeft = "250px";
                navIsOpen = true;
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>