@model EtkinlikYonetim.Models.EyKullanici


@{
    ViewData["Title"] = "Giriş Yap";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <section class="ftco-section" style="margin-top: 5%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Etkinlik Yönetim</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <form asp-action="GirisYap">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input type="text" asp-for="TcNo" class="form-control" placeholder="TC No" required>
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Sifre" class="form-control" placeholder="Şifre" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Giriş Yap</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-150 text-md-right">
                                    <a href="KayitOl" style="color: #838181">Kayıt Ol</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>