@model EtkinlikYonetim.Models.EyEtkinlik

@{
    ViewData["Title"] = "Etkinlik Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1>Etkinlik Oluştur</h1><br />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="EtkinlikOlustur">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EtkinlikAdi" class="control-label">Etkinlik Adı</label>
                    <input asp-for="EtkinlikAdi" class="form-control" />
                    <span asp-validation-for="EtkinlikAdi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxKatilimciSayisi" class="control-label">Max Katılımcı Sayısı</label>
                    <input asp-for="MaxKatilimciSayisi" class="form-control" />
                    <span asp-validation-for="MaxKatilimciSayisi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BaslangicTarihi" class="control-label">Başlangıç Tarihi</label>
                    <input asp-for="BaslangicTarihi" class="form-control" />
                    <span asp-validation-for="BaslangicTarihi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BitisTarihi" class="control-label">Bitiş Tarihi</label>
                    <input asp-for="BitisTarihi" class="form-control" />
                    <span asp-validation-for="BitisTarihi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Oluştur" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
